.scanner-container {
  max-width:100%;
  min-height:80%;
  padding: 20px;
  border: 2px solid #eee;
  border-radius: 10px;
  background: hsl(115, 100%, 45%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial,sans-serif;
 
}

.scanner-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color:white;
}

input[type="file"] {
  display: block;
  margin: 0 auto 1rem auto;
  border:none;
  color:white;
}

.loading {
  text-align: center;
  color: #555;
  font-style: italic;
}

.response-card {
  
  background: hsl(100, 77%, 37%);
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  white-space: pre-wrap;
  line-height: 2rem;
  color:white;

}

.response-card pre {
  margin: 0;
}
